// Variabili

// COLORI

$primary: #0082F9;
$lightgray: #303030;
$gray: #1C1C1C;
$white: #ffff;
$black: rgb(0, 0, 0);     

// FONTS 

    // FONTS SIZES

    $font-min: 12px;
    $font-xxs: 14px;
    $font-xs: 16px;
    $font-s: 18px;
    $font-sm: 24px;
    $font-m: 30px;
    $font-ml: 33px;
    $font-l: 38px;
    $font-xl: 47px;
    $font-xxl: 50px;

    
